/* style.css */

/* styling for navbar */
.navbar
{
  padding: auto;
  font-size:large;
  margin-bottom: 5px;
}

/* styling for the page container */
#page-container {
  position: relative;
  min-height: 100vh;
}

/* styling for the main content */
main
{
  padding-bottom: 2.5rem; 
}

/* Styling for the map element */
#map {
    height: 500px;
    width:98%;
    margin: auto;
    border: 2px;
  }

  /* Styling for input elements */
input{
    width: 98%;
    padding: 0.5%;
    margin: auto;
    margin-bottom: 1px;
    display: grid;
}

/* Styling for the footer */
footer {
    padding: 5px;
    position: absolute;
    bottom: 0;
    width: 100%;
  }

/* Styling for heading */
  h1{
    font:40;
    padding-left: 15px;
  }

/* Styling for paragraphs  */
  p{
    font-size: medium;
    margin-left: 1%;
    margin-right: 1%;
    color: grey;
  }

  /* Styling for main body of pages that are not done (class "notDone") */
  .notDone
  {
    font-size: 60;
    margin: 3%;
    padding: 18% 10% 18% 10%;
    text-align: center;
    border: 20px solid #bbdaa4
  }
  



